#gallery {
    float: right;
}

#gallery_cell {
    padding:0px;
    background: ivory;
    border: 5px solid #C00;
    min-width: 100px;
    height: 80px;
    text-align: center;
}

#image_thumbnail {
    max-width: 600px;
    max-height: 400px;
}